<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pintuer.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
    <script src="/js/student.js"></script>
    <style>
        .bianji {
            width: 500px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: none;
        }
    </style>

</head>

<body>
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 学员管理</strong></div>
        <div class="padding border-bottom">
            <ul class="search">
                <li>
                    <button type="button" class="button border-green" id="checkall"><span class="icon-check"></span>
                        全选</button>
                    <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
                    <button type="submit" class="button border-main"><span class="icon-plus"></span> 添加</button>
                    <button type="submit" class="button border-main"><span class="icon-search"></span> 查找</button>
                </li>
            </ul>
        </div>
        <table class="table table-hover text-center" id="eveal">
            <tr>
                <th width="5%">ID</th>
                <th width="10%">账号</th>
                <th width="10%">姓名</th>
                <th width="5%">年龄</th>
                <th width="10%">电话</th>
                <th width="10%">邮箱</th>
                <th width="20%">地址</th>
                <th width="10%">报名时间</th>
                <th width="20%">操作</th>
            </tr>
        </table>
        <table class="table text-center">
            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <a class="prev">上一页</a> <span class="current" style="cursor: pointer;">1</span>
                        <span href="" style="cursor: pointer;">2</span>
                        <span href="" style="cursor: pointer;">3</span>
                        <a class="next">下一页</a>
                        <a href="">尾页</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- 模板 -->
    <table class="table table-hover text-center" id="model" style="display: none;">
        <tr class="empty">
            <td><input type="checkbox" name="id[]" value="1" />$id$</td>
            <td class="id">$_id$</td>
            <td class="username">$name$</td>
            <td class="age">$age$</td>
            <td class="tel">$tel$</td>
            <td class="email">$email$</td>
            <td class="address">$address$</td>
            <td class="date">$date$</td>
            <td>
                <button class="edit button border-green"><span class="icon-edit"></span> 编辑</button>
                <button class="del button border-red"><span class="icon-trash-o"></span>删除</button>
            </td>
        </tr>
    </table>

    <div class="panel admin-panel bianji">
        <div class="panel-head bg-blue"><strong><span class="icon-key"></span> 修改学员信息</strong></div>
        <div class="body-content">
            <form class="form-x">
                <div class="form-group">
                    <div class="label">
                        账号：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="account" size="50" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        姓名：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="name" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        年龄：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="age" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        电话：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="tel" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        邮箱：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="email" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        地址：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="address" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        时间：
                    </div>
                    <div class="field">
                        <input type="text" class="input w80" id="date" size="50">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"></div>
                    <div class="field">
                        <button class="button bg-red icon-times-circle-o" id="quixiao"> 取消</button>
                        <button class="button bg-main icon-check-circle-o" id="change_sure"> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>